div#explore div#content{
	flex: 1 1 auto;
	height: auto;
	justify-content: center;
	background-color: white;
}

div#explore header#main{
	position: relative;
	background-color: black;
}

div#explore footer#main{
	display: none;
}

div#explore section.type{
	flex: 0 0 100%;
	max-width: 1000px;
	margin: 10pt;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
}

div#explore h1.title{
	flex: 0 0 100%;
	font-family: Santo;
	font-size: 60px;
	text-align: center;
	color: #02779E;
}

div#explore div.item{
	flex: 0 0 300px;
	height: 200px;
	margin: 10pt;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 200ms box-shadow ease-in-out;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0);
	cursor: pointer;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}

div#explore div.item:hover{
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

div#explore div.item h3.name{
	flex: 0 0 auto;
	text-align: right;
	margin: 10pt;
	color: white;
}
