div.grid{
	width: 100%;
	position: relative;
	top: 10em;
	text-align: center;
}

div.circle{
	border: 1px solid transparent;
}

div.circle:hover{
	border-color: white;
}

div.cell{
	display: inline-block;
	vertical-align: middle;
	margin: 1em;
}

div.destination{
	width: 15em;
	height: 15em;
	position: relative;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

div.destination:hover{
}

div.destination h1.name{
	width: 100%;
	font-family: Aracne;
	color: black;
	position: relative;
	background-color: white;
	top: 50%;
	opacity: 0;
}

div.destination h1.name.active{
	opacity: 1;

}
