div#review{
	flex: 0 0 100%;
	display: flex;
	flex-flow: column wrap;
}

div#review div.slideshow{
	flex: 0 0 60%;
	display: flex;
	flex-flow: row nowrap;
}

div#review div.slideshow div.slide{
	flex: 0 0 100%;
}

div#review div.body{
	font-family: Georgia;
	line-height: 1.5em;
	font-size: 12pt;
	font-weight: 400;
	color: black;
	position: relative;
	text-align: center;
	background-color: white;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

div#review header{
	padding: 2em 0;
	text-align: center;
	flex: 0 0 100%;
}

div#review h1.hotel{
	font-family: Santo;
	font-size: 4em;
	line-height: 1em;
}

div#review h2.city{
	font-family: Aracne;
	font-size: 2em;
}

div#review div.user{
	display: block;
}

div#review div.user h3.name{
	font-family: Santo;
	font-size: 30pt;
}

div#review div.user div.portrait{
	width: 1in;
	height: 1in;
	display: inline-block;
	margin: 1em;
	border: 5px solid #81A594;
	border: 5px solid white;
	border-radius: 100%;
}

div#review div.user div.portrait.active{
	border-color: white;
	box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.25);
}

div#review div.user div.info{
}

div#review div.body div.text{
	text-align: left;

	flex: 0 0 700px;
	column-count: 2;

	padding: 1em;
}

div#review div.text p{
	margin: 0em 1em 1em 1em;
}

div#review img#ink{
	position: absolute;
	bottom: 2%;
	right: 5%;
	width: 5em;
}
