div#review{
	width: 100%;
	max-width: 1440px;
	background-color: #E6E6DC;
}

div#review div.slideshow{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

div#review div.slideshow div.slide{
	width: 100%;
	height: 100%;
}

div#review header{
	padding: 2em 0;
	display: block;
	color: white;
	width: 100%;
	text-align: center;
}

div#review h1.hotel{
	font-family: Santo;
	font-size: 4em;
	line-height: 1em;
}

div#review h2.city{
	font-family: Aracne;
	font-size: 2em;
}

div#review div.user{
	display: block;
	width: 100%;
}

div#review div.user div.portrait{
	width: 1in;
	height: 1in;
	display: inline-block;
	margin: 1em;
	border: 5px solid #81A594;
	border: 5px solid white;
	border-radius: 100%;
}

div#review div.user div.portrait.active{
	border-color: white;
	box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.25);
}

div#review div.user div.info{
}

div#review div.body{
	font-family: Georgia;
	line-height: 1.5em;
	font-size: 12pt;
	font-weight: 400;
	color: black;
	position: relative;
	text-align: center;
}

div#review div.body div.text{
	display: inline-block;
	max-width: 6in;
	height: auto;
	text-align: left;
	background-color: white;
	padding: 5em;
	box-shadow: 1px 2px 10px 2px rgba(0,0,0,0.25);
	margin: 1em;
}

div#review div.text p{
	margin: 1em 0;
}

div#review img#ink{
	position: absolute;
	bottom: 2%;
	right: 5%;
	width: 5em;
}
