div.showcase{
	overflow: hidden;
	width: 100%;
	height: 95%;
	position: relative;
	white-space: nowrap;
	font-family: Aracne;
	font-size: 1.25em;
}

div.nav{
	width: 100%;
	text-align: center;
	cursor: pointer;
	position: absolute;
	bottom: -2em;
}

div.nav div.node{
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: white;
	margin: 1em;
	opacity: 0.5;
}

div.nav div.node.active{
	opacity: 1;
}

div.review{
	cursor: pointer;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}

div.review footer.info{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	text-align: right;
	margin: 1em;
}

footer.info div.user{
	display: inline-block;
	vertical-align: middle;
}

footer.info div.user img{
	width: 5em;
	height: 5em;
	border-radius: 50%;
	border: 5px solid white;
	display: inline-block;
	vertical-align: middle;
	margin: 0 -3em;
	position: relative;
	z-index: 1;
}

footer.info div.user img:hover{
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.5);
}
footer.info div.user div.info{
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	position: relative;
	right: -25%;
	right: 0;
	opacity: 0;
	opacity: 1;
	border-radius: 1em;
	min-width: 6em;
	padding: 1em;
	padding-left: 2em;
	background-color: #E6E6DC;
	color: black;
}

footer.info div.user div.info.active{
	opacity: 1;
	right: 0;
}

footer.info div.hotel{
	text-align: left;
	font-size: 0.75em;
	background-color: #00628B;
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
	padding-right: 5em;
	border-radius: 1em;
}
