div.showcase{
	position: relative;
	white-space: nowrap;
	font-family: Aracne;
	font-size: 1.25em;
	flex: 0 0 100%;
	align-self: stretch;
	display: flex;
	flex-flow: row-reverse wrap;
}

div.showcase > div.review:first-child{
	flex: 0 0 100%;
	height: 90%;
}

div.nav{
	width: 100%;
	text-align: center;
	cursor: pointer;
	position: absolute;
	bottom: -2em;
}

div.nav div.node{
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: white;
	margin: 1em;
	opacity: 0.5;
}

div.nav div.node.active{
	opacity: 1;
}

div.review{
	cursor: pointer;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;

	flex: 1 0 30%;
	min-width: 475px;
	margin: 1px;
	height: 60%;

	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: center;

	opacity: 0;
}

div.review footer.info{
	flex: 0 0 100%;

	color: white;
	text-shadow: 2px 2px 2px black;

	padding: 1em;
	margin: 2em;

	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	opacity: 0;
}

div.review.active footer.info{
	opacity: 1;
}

footer.info div.user{
	flex: 1 1 auto; 
}

footer.info div.user img{
	width: 5em;
	height: 5em;
	border-radius: 50%;
	position: relative;
	z-index: 1;
}

footer.info div.user img:hover{
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.5);
}
footer.info div.user div.info{
}

footer.info div.user div.info.active{
	opacity: 1;
	right: 0;
}

footer.info div.hotel{
	flex: 1 1 100%;
	margin: 1em 0;
	margin-top: -1em;
	padding: 2em 3em;
	border-top: 2px solid transparent;
	box-shadow: 2px 2px 2px 2px transparent;
	background: transparent;
	transition: 300ms all ease-in-out;
	opacity: 0;
}

div.review.active div.hotel{
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75)
	);
	box-shadow: -2px 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-color: white;
	margin: 2em 0;
	margin-top: -1.5em;
	opacity: 1;
}
